<uib-tabset class="fixed-elem">
  <uib-tab heading="Lost Items">
    
    <p>Posts-1</p>
    <p>Posts-2</p>
    <p>Posts-3</p>
    <p>Posts-4</p>
    <p>Posts-5</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
    <p>Posts</p>
  
  </uib-tab>
  <uib-tab class="pull-right">
    <uib-tab-heading>
      <i class="ion-plus-round"></i>
    </uib-tab-heading>

    <p>Add a share-1</p>
    <p>Add a share-2</p>
    <p>Add a share-3</p>
    <p>Add a share-4</p>
    <p>Add a share-5</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
    <p>Add a share</p>
  
  </uib-tab>
</uib-tabset>
