
<div gridster="gridsterOpts">
	<div gridster-item="announcement" ng-controller="AnnouncementCtrl" layout="column" ng-cloak>
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Announcements</h2>
			</div>
		</md-toolbar>

		<md-content flex layout-padding>
			<p>Lorem ipsum dolor sit amet, ne quod novum mei. Sea omnium invenire mediocrem at, in lobortis conclusionemque nam. Ne deleniti appetere reprimique pro, inani labitur disputationi te sed. At vix sale omnesque, id pro labitur reformidans accommodare, cum labores honestatis eu. Nec quem lucilius in, eam praesent reformidans no. Sed laudem aliquam ne.</p>
			Qui utamur tacimates quaestio ad, quod graece omnium ius ut. Pri ut vero debitis interpretaris, qui cu mentitum adipiscing disputationi. Voluptatum mediocritatem quo ut. Fabulas dolorem ei has, quem molestie persequeris et sit.
			</p>

			<p>
			Est in vivendum comprehensam conclusionemque, alia cetero iriure no usu, te cibo deterruisset pro. Ludus epicurei quo id, ex cum iudicabit intellegebat. Ex modo deseruisse quo, mel noster menandri sententiae ea, duo et tritani malorum recteque. Nullam suscipit partiendo nec id, indoctum vulputate per ex. Et has enim habemus tibique. Cu latine electram cum, ridens propriae intellegat eu mea.
			</p>

			<p>
			Duo at aliquid mnesarchum, nec ne impetus hendrerit. Ius id aeterno debitis atomorum, et sed feugait voluptua, brute tibique no vix. Eos modo esse ex, ei omittam imperdiet pro. Vel assum albucius incorrupte no. Vim viris prompta repudiare ne, vel ut viderer scripserit, dicant appetere argumentum mel ea. Eripuit feugait tincidunt pri ne, cu facilisi molestiae usu.
			</p>


		</md-content>

	</div>

	<div gridster-item="weatherGrid" ng-controller="WeatherCtrl" layout="column" ng-cloak>
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Weather in Chennai, India</h2>
			</div>
		</md-toolbar>

		<md-content flex layout-padding>
			<weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
			<h3>Current: {{ weather.temp.current | temp:2 }}</h3>
			{{ weather.temp.condition.text }} <br/>
			wind: {{ weather.temp.wind_kph }}, {{ weather.temp.wind_degree
			}} degree {{ weather.temp.wind_dir }} <br/>
			feels like {{ weather.temp.feelslike | temp:2 }}
		</md-content>

	</div>
	<ul>


    <li gridster-item="item">
      <iframe src="https://hospital.iitm.ac.in/" style="position: absolute;width: 90%;height: 90%"></iframe>
    </li>

	</ul>
</div>

<!--
<div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
-->
