
<div gridster="gridsterOpts">
	<div gridster-item ng-controller="AnnouncementCtrl" layout="column" ng-cloak row=0 col=0 size-x=2 size-y=2 >
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Announcements</h2>
            </div>
		</md-toolbar>
    
		<md-content flex layout-padding style="overflow-y: scroll;position: absolute;width: 100%;height: 80%;">
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="item in announcements">
                    <md-checkbox ng-model="item.done"></md-checkbox>
                    <div class="md-list-item-text">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </md-list-item>
            </md-list>
		</md-content>

    </div>

	<div gridster-item ng-controller="EventCtrl" layout="column" ng-cloak size-x=2 size-y=2 >
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Events</h2>
			</div>
		</md-toolbar>

		<md-content flex layout-padding>
            <md-listi flex>
                <md-list-item class="md-2-line" ng-repeat="item in events">
          			<img src="https://material.angularjs.org/latest/img/list/60.jpeg" class="md-avatar" alt="{{item.who}}" />
					
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.who }}</h3>
						<h4>{{ item.what }}</h4>
						<p>{{ item.notes }}</p>
					</div>
				</md-list-item>
            </md-list>
		</md-content>
    </div>


	<div gridster-item="weatherGrid" ng-controller="WeatherCtrl" layout="column" ng-cloak>
		<md-toolbar class="md-warn">
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Weather in Chennai, India</h2>
			</div>
		</md-toolbar>

		<md-content flex layout-padding>
			<weather-icon cloudiness="{{ weather.clouds }}"></weather-icon>
			<h3>Current: {{ weather.temp.current | temp:2 }}</h3>
			{{ weather.temp.condition.text }} <br/>
			wind: {{ weather.temp.wind_kph }}, {{ weather.temp.wind_degree
			}} degree {{ weather.temp.wind_dir }} <br/>
			feels like {{ weather.temp.feelslike | temp:2 }}
		</md-content>

	</div>
	<ul>


    <li gridster-item="item">
      <iframe src="https://hospital.iitm.ac.in/" style="position: absolute;width: 90%;height: 90%"></iframe>
    </li>

	</ul>
</div>

<!--
<div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Memory load" template="app/views/partials/memory.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Performance" template="app/views/partials/performance.html" options="true"></panel-widget>
  <panel-widget flex title="TODO list" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
-->
