<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">Authorize Device</h4>
  </div>
  <form name="linkForm" class="form-horizontal">
    <div class="modal-body">

      <div class="form-group">
        <label for="mac_addr" class="col-sm-6 control-label"><p><b>MAC address:</b></p> </label>
        <div class="col-sm-6">
          <p if="mac_addr" class="form-control-static">{{params.mac_addr}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="nick" class="col-sm-6 control-label"><p><b>Nick name for this device:</b></p> </label>
        <div class="col-sm-6">
          <p if="nick" class="form-control-static">{{params.nick}}</p>
        </div>
      </div>

      <div class="form-group">
        <label for="validity" class="col-sm-6 control-label"><p><b>Select the validity of this authorization:</b></p> </label>
        <div class="col-sm-6">
          <select id="validity" class="form-control" placeholder="validity" ng-model="params.validity_option" name="validity" required>
            <option ng-repeat="option in validityOptions" value="{{option.value}}">{{option.text}}</option>
          </select>
        </div>
      </div>

      <p><u>Please note that you will be held responsible for all network activity originating from this device for the specified time period.</u></p>
      <!--
      <p><b>By approving the machine, you confirm that you have read and understood the terms of the Acceptable Use Policy of the IIT Madras Computer Centre with regard to use of Computing and Network resources. The complete policy is available at <a href="https://web.iitm.ac.in/cc/node/216" target="_blank">Acceptable Use Policy</a>. Please read through it and understand it before you proceed.</b></p>
      -->
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="authorizeDevice()">Authorize</button>
    </div>
  </form>
</div>
