<div gridster-item="{{gridsterData}}"
		 ba-panel-iframe
		 ba-panel-iframe-title="{{title}}"
		 ba-panel-iframe-class="feed-comply-panel with-scroll">
		<iframe src="{{url}}" title="{{title}}" width="100%" height="100%" frameborder="0"></iframe>
</div>

<!--
<div gridster-item="{{gridsterData}}">
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">{{title}}</h3>
		</div>
		<iframe src="{{url}}" title="{{title}}" width="100%" height="100%" frameborder="0"></iframe>
	</div>
</div>
 -->
